// colors
$grey-dark: #4D4D4D;
$purple: #800080;
$gradient: linear-gradient(270deg, #800080 0%, #FF864C 100%);
$black: #000000;
$white: #FFFFFF;
$red-light: #FF864C;
$light-shade: #EEAEAE;


// font sizes
$regular-1: 14px;
$regular-2: 16px;
$large: 24px;
$extra-large: 32px;

// font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;

// line heights
$regular-line-height: 21px;
$large-line-height: 24px;
$extra-large-line-height: 32px;

// screen sizes
$mobile: 428px;
$desktop: 1366px;